<a href="https://colab.research.google.com/github/decisionenabler-sk/python_de_practice_it/blob/main/Python_Interview_practice_it_General.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Given a list of n-1 integers, and these integers are in the range of 1 to n. There are no duplicates in the list. One of the integers is missing in the list. Can you write an efficient code to find the missing integer?

In [ ]:
# define a function
def missing_num(lnum):
    # Total number of integers, including the missing one
    n = len(lnum) + 1
    # Sum of the first n natural numbers
    total_sum = (n * (n + 1)) // 2
    # Calculate the sum of the given list
    list_sum = sum(lnum)
    # The missing integer is the difference between the total_sum and list_sum
    missing_integer = total_sum - list_sum

    return missing_integer

# Example usage
given_list = [1, 2, 4, 6, 3, 7, 8]
missing_number = missing_num(given_list)
print("Missing Integer:", missing_number)

Missing Integer: 5

remove duplicates within a list in Python

In [ ]:
l = [1,2,3,3,4,5,5]
l_no_dupe = list(set(l))
print("List with duplicates: ",l)
print("List with no duplicates: ",l_no_dupe)

List with duplicates:  [1, 2, 3, 3, 4, 5, 5]
List with no duplicates:  [1, 2, 3, 4, 5]

Given two nonempty lists of user ids and tips, write a function called “most tips” to find the user that tipped the most.

In [ ]:
user_ids = [103, 105, 105, 107, 106, 103, 102, 108, 107, 103, 102]
tips = [2, 5, 1, 0, 2, 1, 1, 0, 0, 2, 2]
def most_tips(u,t):
  user_tips = {}
  for i in range(len(u)):
    user = u[i]
    tip = t[i]
    if user in user_tips:
      user_tips[user] += tip
    else:
      user_tips[user] = tip
  return max(user_tips, key=user_tips.get)
  # return user_tips.get(max(user_tips, key=user_tips.get))
# evaluate

most_tips(user_ids, tips)

6

Remove vowels from a sentence

In [ ]:
sentence = "This is a sentence from a book"
list1 = [char for char in sentence if char not in ["a","e","i","o","u"]]
output = "".join(list1)
print(output)

Ths s  sntnc frm  bk

count number of substring in the sentence

In [ ]:
sentence = "This is going to be an awesome year"
sub = "is"
sentence = sentence.lower()
print(sentence.count("is"))

2

Find all of the words in a string that are less than 5 letters

In [ ]:
sentence = "This is an example sentence to calculate the number of letters less than five chracters"
word_list = sentence.split(" ")
five_less = " ".join(word for word in word_list if len(word) < 5)
print(five_less)
len(five_less.split(" "))

This is an to the of less than five

9

swap the case of the sentence

In [ ]:
s = "i aM hAPPY"
"".join(c.lower() if c.isupper() else c.upper() for c in s)

'I Am Happy'

Find out the top 3 paid employees. Caveat:If salary is same then tie break on age(youngest wins)

In [ ]:
data = ["Dan,120000,28", "Ron,140000,30" , "Jack, 120000,32", "John,50000,21", "Stan, 125000, 28"]
# output should look like Ron Stan Dan
output = []
for item in data:
    name, salary, age = item.split(",")
    output.append((str(name), int(salary), int(age))) #store in tuple
output.sort(key=lambda x: (x[1], x[-2]),reverse=True)
top_3 = output[:3]
print(top_3)
print([employee[0] for employee in top_3])

[('Ron', 140000, 30), ('Stan', 125000, 28), ('Dan', 120000, 28)]
['Ron', 'Stan', 'Dan']

Given a string, write a function “recurring char” to find the strings first recurring character. Return “None” if there is no recurring character.

In [31]:
s1 = "classification"
s2 = "case"
def recurring_char(s):
  r = []
  for c in s:
    if c in r:
      return c
    else:
      r.append(c)
  if len(c) == len(r):
    return "none"
print(recurring_char(s1))
print(recurring_char(s2))

# approch 2 - more optimized and using set

def recurring_char2(s):
    char_set = set()
    for c in s:
        if c in char_set:
            return c
        char_set.add(c)
    return "none"

print(recurring_char2(s1))
print(recurring_char2(s2))

s
None
s
none