<a href="https://colab.research.google.com/github/decisionenabler-sk/python_de_practice_it/blob/main/Python_Interview_practice_it_General.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Given a list of n-1 integers, and these integers are in the range of 1 to n. There are no duplicates in the list. One of the integers is missing in the list. Can you write an efficient code to find the missing integer?

In [ ]:
# define a function
def missing_num(lnum):
    # Total number of integers, including the missing one
    n = len(lnum) + 1
    # Sum of the first n natural numbers
    total_sum = (n * (n + 1)) // 2
    # Calculate the sum of the given list
    list_sum = sum(lnum)
    # The missing integer is the difference between the total_sum and list_sum
    missing_integer = total_sum - list_sum

    return missing_integer

# Example usage
given_list = [1, 2, 4, 6, 3, 7, 8]
missing_number = missing_num(given_list)
print("Missing Integer:", missing_number)

Missing Integer: 5

remove duplicates within a list in Python

In [ ]:
l = [1,2,3,3,4,5,5]
l_no_dupe = list(set(l))
print("List with duplicates: ",l)
print("List with no duplicates: ",l_no_dupe)

List with duplicates:  [1, 2, 3, 3, 4, 5, 5]
List with no duplicates:  [1, 2, 3, 4, 5]

Given two nonempty lists of user ids and tips, write a function called “most tips” to find the user that tipped the most.

In [ ]:
user_ids = [103, 105, 105, 107, 106, 103, 102, 108, 107, 103, 102]
tips = [2, 5, 1, 0, 2, 1, 1, 0, 0, 2, 2]
def most_tips(u,t):
  user_tips = {}
  for i in range(len(u)):
    user = u[i]
    tip = t[i]
    if user in user_tips:
      user_tips[user] += tip
    else:
      user_tips[user] = tip
  return max(user_tips, key=user_tips.get)
  # return user_tips.get(max(user_tips, key=user_tips.get))
# evaluate

most_tips(user_ids, tips)

6

Remove vowels from a sentence

In [ ]:
sentence = "This is a sentence from a book"
list1 = [char for char in sentence if char not in ["a","e","i","o","u"]]
output = "".join(list1)
print(output)

Ths s  sntnc frm  bk

count number of substring in the sentence

In [ ]:
sentence = "This is going to be an awesome year"
sub = "is"
sentence = sentence.lower()
print(sentence.count("is"))

2

Find all of the words in a string that are less than 5 letters

In [ ]:
sentence = "This is an example sentence to calculate the number of letters less than five chracters"
word_list = sentence.split(" ")
five_less = " ".join(word for word in word_list if len(word) < 5)
print(five_less)
len(five_less.split(" "))

This is an to the of less than five

9

swap the case of the sentence

In [ ]:
s = "i aM hAPPY"
"".join(c.lower() if c.isupper() else c.upper() for c in s)

'I Am Happy'

Find out the top 3 paid employees. Caveat:If salary is same then tie break on age(youngest wins)

In [ ]:
data = ["Dan,120000,28", "Ron,140000,30" , "Jack, 120000,32", "John,50000,21", "Stan, 125000, 28"]
# output should look like Ron Stan Dan
output = []
for item in data:
    name, salary, age = item.split(",")
    output.append((str(name), int(salary), int(age))) #store in tuple
output.sort(key=lambda x: (x[1], x[-2]),reverse=True)
top_3 = output[:3]
print(top_3)
print([employee[0] for employee in top_3])

[('Ron', 140000, 30), ('Stan', 125000, 28), ('Dan', 120000, 28)]
['Ron', 'Stan', 'Dan']

Given a string, write a function “recurring char” to find the strings first recurring character. Return “None” if there is no recurring character.

In [ ]:
s1 = "classification"
s2 = "case"
def recurring_char(s):
  r = []
  for c in s:
    if c in r:
      return c
    r.append(c)
  return "none"
print(recurring_char(s1))
print(recurring_char(s2))

# approch 2 - more optimized and using set

def recurring_char2(s):
    char_set = set()
    for c in s:
        if c in char_set:
            return c
        char_set.add(c)
    return "none"

print(recurring_char2(s1))
print(recurring_char2(s2))

s
none
s
none

Complete a function that returns a list containing mismatched words in two strings. The return list can be in any order. How I would solve it without using sets?

In [5]:
string1 = 'Hello'
string2 = 'HelloFriends'
lst = string1 + string2
subset = []
for i in lst:
  if i in subset:
    continue
  else:
    subset.append(i)
lst1 = []
for x in subset:
  if ((x in string1) and (x in string2)):
    continue
  else:
    lst1.append(x)
print(lst1)

['H', 'e', 'l', 'o', 'F', 'r', 'i', 'n', 'd', 's']
['F', 'r', 'i', 'n', 'd', 's']

Given a dictionary, print the key for nth highest
value present in the dict. If there are more than
1 record present for nth highest value then sort
the key and print the first one (alphabetically). N can be higher than the number of elements in the dictionary.

Given a list of ints, balance the list so that each int appears equally in the list. Return a dictionary where the key is the int and the value is the count needed to balance the list.

[1, 1, 2] => {2: 1}
[1, 1, 1, 5, 3, 2, 2] => {5: 2, 3: 2, 2: 1}

 Have a list of 3 letters. Write a code to concatenate this list with another list of numbers whose range varies from 1 to 3 (3 is included).

In [3]:
l_list = ["A", "B", "C"]
output = []
for i in range(1,len(l_list)+1):
  for l in l_list:
    output.append(l+str(i))
print(output)

['A1', 'B1', 'C1', 'A2', 'B2', 'C2', 'A3', 'B3', 'C3']

The marks of a student in each subject given below. Write a Python function that takes two parameters 'name' and 'subjects_marks. Finally, print the student's name and all the subjects in which his/her marks are above 60. If the 'name' is not provided, print 'None.'

**Input:** Math = 80, Physics = 58, Chemistry = 62, English = 72, Biology = 50

**Expected Output:** Name: Ron - Subjects: {'Chemistry', 'English', 'Mathematics"}

In [6]:
marks = {'Math': 80, 'Physics':58, 'Chemistry':62, 'English':72, 'Biology':50}
def above_60(name = None,subject_marks={}):
  if name is not None:
        above_60_subjects = {subject for subject, marks in subject_marks.items() if marks > 60}
        return name, above_60_subjects
  else:
        return None

output = above_60('Ron',marks)
if output is not None:
    name, above_60_subjects = output
    print(f"Name: {name} - Subjects: {above_60_subjects}")
else:
    print("None")

Name: Ron - Subjects: {'Chemistry', 'Math', 'English'}

You have a list of dictionaries, each dictionary contains information about a person's name, age, and location. You need to transform this data and calculate the average age of people from each location

In [18]:
import pandas as pd
data = [
    {'Name': 'Alice', 'Age': 25, 'Location': 'New York'},
    {'Name': 'Bob', 'Age': 30, 'Location': 'San Francisco'},
    {'Name': 'Charlie', 'Age': 22, 'Location': 'New York'},
    {'Name': 'David', 'Age': 28, 'Location': 'San Francisco'},
    {'Name': 'Angela', 'Age': 26, 'Location': 'San Francisco'},
    {'Name': 'Rebecca', 'Age': 30, 'Location': 'Los Angeles'},
    {'Name': 'Eve', 'Age': 35, 'Location': 'New York'},
    {'Name': 'Don', 'Age': 33, 'Location': 'New York'},
    {'Name': 'John', 'Age': 24, 'Location': 'Los Angeles'},
]
df = pd.DataFrame(data)
group_df = df.groupby('Location')
mean_age = group_df['Age'].mean()
mean_age

Location
Los Angeles      27.00
New York         28.75
San Francisco    28.00
Name: Age, dtype: float64

You have two lists: one containing customer IDs and another containing the purchase amounts made by those customers. Write Python code to calculate the total purchase amount for each customer and store the results in a dictionary where the keys are customer IDs, and the values are the total purchase amounts.

In [32]:
customer_ids = [101, 102, 101, 103, 102, 104]
purchase_amounts = [50.25, 30.50, 75.00, 45.75, 20.00, 60.30]
customer_purchase = zip(customer_ids,purchase_amounts)
output = {}
for customer_id, amount in customer_purchase:
    # print(customer_id, amount)
    if customer_id in output:
        output[customer_id] = output[customer_id] + amount
    else:
        output[customer_id] = amount
    
output

{101: 125.25, 102: 50.5, 103: 45.75, 104: 60.3}

Write a function to count the number of times each character appears in a string and rewrite the string in that format. Eg. “I am back.” should become “i1 2a2m1b1c1k1.1”

In [11]:
from collections import Counter
input = 'I am back'
input = input.replace(' ', '')
count = dict(Counter(input))
output = "".join([c + str(count[c]) for c in input])
output

'I1a2m1b1a2c1k1'

Given an array of integers, and a target integer, return two numbers if they add up to target
integer.
You may not use the same element twice for one solution – i.e., if the target is 4 and there is only
one ‘2’ in the array, then [2,2] is not a valid solution.
Input:
Array: [6,5,9,-2,1310]
Target: 11
Output:
(6, 5)
(-2, 13)

In [1]:
def twoSum(array, target):
 # search first element in array
    for i in range(len(array) - 1):
 # search other element in array
        for j in range(i + 1, len(array)):
 # if both elements add up to target, print both elements
            if array[i] + array[j] == target:
                print(array [i], array[j])

# Test The Code
array = [6, 5, 9, -2, 13, 10]
target = 11
# Run The Function
twoSum(array, target)

6 5
-2 13

In [3]:
def twosum_2(array,target):
    sums = []
    hashtable = {}

    for i in range(len(array)):
        remainder = target - array[i]
        if remainder in hashtable:
            print(array[i], remainder)
        hashtable[array[i]] = array[i]
# Test The Code
array = [6, 5, 9, -2, 13, 10]
target = 11
# Run The Function
twosum_2(array, target)

5 6
13 -2