<a href="https://colab.research.google.com/github/decisionenabler-sk/python_de_practice_it/blob/main/Python_Interview_practice_it_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Write a Python script to sort (ascending and descending) a dictionary by value.

In [2]:
d1 = {1:200, 2:250, 3:150, 4:75, 5:700}
output = sorted(d1.items(), key=lambda x:x[1])
print({k:v for k,v in output})

{4: 75, 3: 150, 1: 200, 2: 250, 5: 700}

Write a Python script to add a key to a dictionary.

In [ ]:
data = {0: 10, 1: 20}
# output {0: 10, 1: 20, 2: 30}
data[2] = 30
print(data)

{0: 10, 1: 20, 2: 30}

Write a Python script to concatenate the following dictionaries to create a new one.

In [ ]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
# Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
dic4={}
def merge_d(d1,d2):
    return d1.update(d2)
# dic4.update(dic1)
# dic4.update(dic2)
# dic4.update(dic3)
merge_d(dic1,dic2)
merge_d(dic1,dic3)
print(dic1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

Write a Python script to check whether a given key already exists in a dictionary.

In [ ]:
data = {"John":28, "Jack":30, "Jill":40}
if "John" in data:
    print("Yes")
else:
    print("No")

Yes

generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x)

In [ ]:
n=5
d=dict()
for x in range(1,n+1):
    d[x]=x*x
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.

In [ ]:
d=dict()
for x in range(1,16):
    d[x]=x**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

Write a Python program to combine two dictionary by adding values for common keys.

In [ ]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
for k1 in d1:
    if k1 in d2:
        d2[k1] = d1[k1] + d2[k1]
    else:
        d2[k1] = d1[k1]
print(d2)

{'a': 400, 'b': 400, 'd': 400, 'c': 300}

remove duplicates from the dictionary

In [ ]:
d1 = {'a': 100, 'b': 200, 'c':300, 'd': 300}
#approach 1
unique = {v: k for k, v in d1.items()}
output1 = {v: k for k, v in unique.items()}
print(unique)
print(output1)
# approach 2
output2 = {}
for k,v in d1.items():
    output2.setdefault(v,k)
print(output2)
print(dict((v,k) for k,v in output2.items()))

{100: 'a', 200: 'b', 300: 'd'}
{'a': 100, 'b': 200, 'd': 300}
{100: 'a', 200: 'b', 300: 'c'}
{'a': 100, 'b': 200, 'c': 300}

Find the most common 3 products purchased

In [ ]:
from collections import Counter
products_purchased = ["DES005",
            "BEV003",
            "DES004",
            "DES001",
            "DES002",
            "DES003",
            "DES002",
            "DES002",
            "STA004",
            "SAL004",
            "ENT005",
            "BEV003",
            "SAL002",
            "ENT005",
            "SAL004",
            "ENT004",
            "ENT004",
            "DES004",
            "BEV001",
            "STA001",
            "STA003",
            "BEV002",
            "STA003",
            "DES005",
            "BEV002",
            "ENT004",
            "ENT001",
            "DES005",
            "ENT004",
            "STA005",
            "ENT005",
            "DES002",
            "ENT001",
            "SAL001",
            "BEV001",
            "DES002",
            "BEV001",
            "DES004",
            "ENT004",
            "DES001",
            "STA005",
            "DES004",
            "ENT002",
            "DES001",
            "ENT002",
            "ENT003",
            "BEV001",
            "DES004",
            "STA005",
            "STA003",
            "SAL002",
            "ENT001",
            "SAL004",
            "STA005",
            "ENT002",
            "DES004",
            "DES004",
            "SAL001",
            "BEV003",
            "DES001"]
count = Counter(products_purchased)
print(count.most_common(3))

[('DES004', 7), ('DES002', 5), ('ENT004', 5)]

sell 5 starters, 3 salads, and 3 entrees
make 9 more starters and 1 more entree

In [ ]:
from collections import Counter
inventory = Counter(STA001=10, SAL002=20, ENT004=13)
#sell
sales_this_week = Counter(STA001=5, SAL002=3,ENT004=3)
inventory = inventory - sales_this_week
print(inventory)
#make
inventory_in = dict()
inventory_in = {"STA001":9, "SAL002":1}
print(inventory_in)
inventory = inventory.update(inventory_in)
print(inventory)

Counter({'SAL002': 17, 'ENT004': 10, 'STA001': 5})
{'STA001': 9, 'SAL002': 1}
None

Keep track of the last 5 foods you ordered

In [ ]:
from collections import deque
foods = deque(maxlen=5)
foods.append("STA001")
print(foods)
ordered_foods = ["DES003", "STA002", "ENT004", "ENT001"]
foods.extend(ordered_foods)
print(foods)
foods.appendleft("DES005")
print(foods)

deque(['STA001'], maxlen=5)
deque(['STA001', 'DES003', 'STA002', 'ENT004', 'ENT001'], maxlen=5)
deque(['DES005', 'STA001', 'DES003', 'STA002', 'ENT004'], maxlen=5)

Palndrone Checker

In [ ]:
from collections import deque
# word = "HANNAH"
word = "SURBHI"
d = deque(word)
while len(d) > 1:
  if d.pop() != d.popleft():
      output = False
  else:
     output = True

print(output)

False

Given a dictionary and dictionary list, update the dictionary with dictionary list values.

In [ ]:
dict_list = [{"for":3,"all":7}, {"and": 1, "CS":9}]
test_dict = {"Gfg":2, "is":1,"Best":3}
for item in dict_list:
  test_dict.update(item)
print(dict_list)
print(test_dict)

[{'for': 3, 'all': 7}, {'and': 1, 'CS': 9}]
{'Gfg': 2, 'is': 1, 'Best': 3, 'for': 3, 'all': 7, 'and': 1, 'CS': 9}

Reverse Dictionary Keys Order

In [ ]:
from collections import OrderedDict
test_dict = {"Gfg":2, "is":1,"Best":3}
output = OrderedDict(reversed(list(test_dict.items())))
print(output)

OrderedDict([('Best', 3), ('is', 1), ('Gfg', 2)])

Replace dictionary value from other dictionary

In [ ]:
test_dict = {"Gfg" : 5, "is" : 8, "Best" : 10, "for" : 8, "Geeks" : 9}
print(test_dict)
updict = {"Gfg"  : 10, "Best" : 17}
for item in test_dict:
  if item in updict:
    test_dict[item] = updict[item]
print(test_dict)

{'Gfg': 5, 'is': 8, 'Best': 10, 'for': 8, 'Geeks': 9}
{'Gfg': 10, 'is': 8, 'Best': 17, 'for': 8, 'Geeks': 9}

Combine 2 dictionaries having key of first dictionary and value of second dictionary

In [ ]:
test_dict1 = {"Gfg" : 20, "is" : 36, "best" : 100}
test_dict2 = {"Gfg2" : 26, "is2" : 20, "best2" : 70}
keys1 = list(test_dict1.keys())
values2 = list(test_dict2.values())
output=dict()
for i in range(len(keys1)):
     output[keys1[i]] = values2[i]
print(output)

{'Gfg': 26, 'is': 20, 'best': 70}

Count the frequency of each word in the paragraph

In [ ]:
import string
from collections import Counter
paragraph = """Nadia's Garden Restaurant is the creation of husband and wife team Nadia and Timothy Arbore.
    Their American-infused, Italian-based, organically created, cuisine was inspired by Nadia's papa, an immigrant from Italy,
    who shared his love of cooking with Nadia as a young girl. His focus on using fresh ingredients and family style dining were
    the inspiration for Nadia's Garden Restaurant. Located in the heart of Main Streets Historic District, they are proud to be a
    part of a rich community. In 2011, the duo remodeled the restaurant and updated their menu to include newer and more diverse entrées
     that could be made from local organic suppliers. Preservation of the building's original layout has allowed them to create smaller,
     more intimate, dining spaces. Nadia and Timothy are committed to sharing their family history of cuisine, along with their new inspirations,
      with their customers. Their passion for community, entertainment, and hospitality are found in every aspect of Nadia's Garden Restaurant."""
# print(paragraph)
paragraph = paragraph.lower()
paragraph = paragraph.translate(str.maketrans('', '', string.punctuation))
wordlist = paragraph.split()
count = Counter(wordlist)
# print(count.get("restaurant"))
print(count)

[('of', 7), ('and', 7), ('the', 6), ('their', 6)]

Remove duplicate values across Dictionary Values *(in progress)*

In [ ]:
from collections import Counter
test_dict = {'Manjeet': [1, 4, 5, 6],
             'Akash': [1, 8, 9],
             'Nikhil': [10, 22, 4],
             'Akshat': [5, 11, 22]}
count = Counter()
for i in test_dict.values():
  count.update(i)

Given an integer array nums, return true if any value appears at least twice in the array, and return false if every element is distinct

In [ ]:
nums = [1,2,3,4]
unique = set()
for num in nums:
    unique.add(num)
print(len(unique))
print(len(nums))
if len(unique)<len(nums):
  print(True)
else:
  print(False)

4
4
False

refactor the above code using list comprehension

In [ ]:
nums = [1,2,3,1]
unique = set(num for num in nums)
print(True if len(unique) < len(nums) else False)

True

Write a Python program to sum and multiply all the items in a dictionary.

In [ ]:
my_dict = {'data1':100,'data2':-54,'data3':247}
print(sum(my_dict.values()))
my_dict2 = {'data1':10,'data2':20,'data3':5}
multiply= 1
for k in my_dict2:
  multiply=multiply*my_dict2[k]
print(multiply)

293
1000

remove a key from a dictionary

In [ ]:
d={"t1":250, "t2":248, "t3":243, "t4":251}
d.pop("t1")
print(d)
myDict = {'a':1,'b':2,'c':3,'d':4}
print(myDict)
if 'a' in myDict:
    del myDict['a']
print(myDict)

{'t2': 248, 't3': 243, 't4': 251}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'b': 2, 'c': 3, 'd': 4}

map two lists into a dictionary

In [ ]:
l1 = ["a", "b", "c"]
l2 = [1,2,3]
d=dict(zip(l1,l2))
print(d)

{'a': 1, 'b': 2, 'c': 3}

sort a given dictionary by key and then by value, and find min and max value

In [ ]:
from collections import OrderedDict
d={"t2":250, "t1":248, "t3":243, "t4":251}
keys=sorted(d.keys())
# print(keys)
# sort_keys_d = {k:d[k] for k in keys}
sort_keys_d = {k:d[k] for k in sorted(d.keys())}
sort_values_d = dict(sorted(d.items(), key=lambda x:x[1]))
print(sort_keys_d)
print(sort_values_d)

key_max = max(d.keys(), key=(lambda k: d[k]))
key_min = min(d.keys(), key=(lambda k: d[k]))

print('Maximum Value: ',d[key_max])
print('Minimum Value: ',d[key_min])

{'t1': 248, 't2': 250, 't3': 243, 't4': 251}
{'t3': 243, 't1': 248, 't2': 250, 't4': 251}
Maximum Value:  251
Minimum Value:  243

swap values from two dictionaries

In [ ]:
d1 = {"a":100, "b":200, "c":300, "d":400}
d2 = {"aa":1000, "bb":2000, "cc":3000, "dd":4000}
for k1,v1 in d1.items():
  for k2,v2 in d2.items():
    d1[k1], d2[k2] = d2[k2], d1[k1]
print(d1)
print(d2)

{'a': 4000, 'b': 3000, 'c': 2000, 'd': 1000}
{'aa': 400, 'bb': 300, 'cc': 200, 'dd': 100}

print all distinct values in a list of dictionaries.

In [ ]:
items = [{"V":"S001", "VI":"S008"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
# the given sample is a list of dictionaries
s = set()
for item in items:
  for i in item.values():
    s.add(i)
print(s)
# using list comprehension
output = set(i for item in items for i in item.values())
print(output)

{'S008', 'S005', 'S001', 'S002', 'S009', 'S007'}
{'S008', 'S005', 'S001', 'S002', 'S009', 'S007'}

find the highest 3 values of corresponding keys in a dictionary or get the top three items in a shop

In [ ]:
from heapq import nlargest
my_dict = {'a':500, 'b':5874, 'c': 560,'d':400, 'e':5874, 'f': 20}
#approach 1: using nlargest
three_largest = nlargest(3, my_dict, key=my_dict.get)
print(three_largest)
#approach 2: manually
top_3_items = dict(sorted(my_dict.items(), key=lambda x: x[1], reverse=True)[:3])
top_3_keys = list(top_3_items.keys())
print(top_3_keys)
print(top_3_items)

['b', 'e', 'c']
['b', 'e', 'c']
{'b': 5874, 'e': 5874, 'c': 560}

Given an unordered list of flights taken by someone, each represented as (origin, destination) pairs, and a starting airport.
Write a Python program to compute the person's itinerary. If no such itinerary exists, return null. If there are multiple possible itineraries, return the lexicographically smallest one. All flights must be used in the itinerary.

For example, given the list of flights
[('SFO', 'HKO'), ('YYZ', 'SFO'),('YUL', 'YYZ'), ('HKO', 'ORD')]
and starting airport 'YUL', you should return the list
['YUL', 'YYZ', 'SFO', 'HKO', 'ORD'].
Given the list of flights
[('SFO', 'COM'), ('COM', 'YYZ')]
and starting airport 'COM', you should return null.
Given the list of flights
[('A', 'B'), ('A', 'C'), ('B', 'C'), ('C', 'A')]
and starting airport 'A', you should return the list
['A', 'B', 'C', 'A', 'C']
even though ['A', 'C', 'A', 'B', 'C'] is also a valid itinerary. However, the first one is lexicographically smaller.
Sample Output:
['YUL', 'YYZ', 'SFO', 'HKO', 'ORD']
not valid intinerary
['A', 'C', 'A', 'B', 'C']

In [ ]:
flights1 = [('SFO', 'HKO'), ('YYZ', 'SFO'),('YUL', 'YYZ'), ('HKO', 'ORD')]
start_city1 = "YUL"
flights2 = [('SFO', 'COM'), ('COM', 'YYZ')]
start_city2 = "COM"
flights3 =  [('A', 'B'), ('A', 'C'), ('B', 'C'), ('C', 'A')]
start_city3 = "A"
def intinerary(llist, start):
    itinerary_list = []
    itinerary_list.append(start)

    while len(llist) >= 1:
        current = None
        directions = {}

        for item in llist:

            if item[0] == start:
                directions[item[0]] = item[1]

        if len(directions) >= 1:
            current = min(directions.values())
            remove_tuple = (start, current)

        try:
            llist.remove(remove_tuple)
            itinerary_list.append(current)
            start = current
        except:
            return "not valid intinerary"
    return itinerary_list
print(intinerary(flights1,start_city1))
print(intinerary(flights2,start_city2))
print(intinerary(flights3,start_city3))

['YUL', 'YYZ', 'SFO', 'HKO', 'ORD']
not valid intinerary
['A', 'C', 'A', 'B', 'C']

Finding Median given an array of numbers

In [ ]:
a = [3,7,8,2,4,8,9,2,5,7,2,3,9,8]
a.sort()
n = len(a)
if n % 2 == 1:
  median = a[n//2]
else:
  m1 = a[n // 2 - 1]
  m2 = a[n // 2]
  median = (m1 + m2) / 2.0

print(a)
print(n)
print(median)

[2, 2, 2, 3, 3, 4, 5, 7, 7, 8, 8, 8, 9, 9]
14
6.0

find the specified number of maximum values in a given dictionary.

In [ ]:
dict1 = {'a': 5, 'b': 14, 'c': 32, 'd': 35, 'e': 24, 'f': 100, 'g': 57, 'h': 8, 'i': 100}
n = 3
def nmax(d,n):
  result = dict(sorted(d.items(), key= lambda x:x[1], reverse=True)[:n]).values()
  return result
print(nmax(dict1,n))

dict_values([100, 100, 57])

check if a specific key and a value exist in a dictionary.
Original dictionary:
[{'student_id': 1, 'name': 'Jean Castro', 'class': 'V'}, {'student_id': 2, 'name': 'Lula Powell', 'class': 'V'}, {'student_id': 3, 'name': 'Brian Howell', 'class': 'VI'}, {'student_id': 4, 'name': 'Lynne Foster', 'class': 'VI'}, {'student_id': 5, 'name': 'Zachary Simon', 'class': 'VII'}]
Check if a specific Key and a value exist in the said dictionary:
True
True
True
False
False
False

In [ ]:
o_dict = [{'student_id': 1, 'name': 'Jean Castro', 'class': 'V'},
          {'student_id': 2, 'name': 'Lula Powell', 'class': 'V'},
          {'student_id': 3, 'name': 'Brian Howell', 'class': 'VI'},
          {'student_id': 4, 'name': 'Lynne Foster', 'class': 'VI'},
          {'student_id': 5, 'name': 'Zachary Simon', 'class': 'VII'}]
def check_key(d,k,v):
  for item in d:
    if item[k] == v:
      return True
  return False

print(check_key(o_dict, 'student_id' , 6 ))
print(check_key(o_dict, 'student_id' , 1 ))

False
True

combine two or more dictionaries, creating a list of values for each key.
Sample Output:
Original dictionaries:
{'w': 50, 'x': 100, 'y': 'Green', 'z': 400}
{'x': 300, 'y': 'Red', 'z': 600}
Combined dictionaries, creating a list of values for each key:
{'w': [50], 'x': [100, 300], 'y': ['Green', 'Red'], 'z': [400, 600]}

In [ ]:
from collections import defaultdict
dict1 = {'w': 50, 'x': 100, 'y': 'Green', 'z': 400}
dict2 = {'x': 300, 'y': 'Red', 'z': 600}
output = defaultdict(list)
for d in dict1,dict2:
  for k in item:
    output[k].append(item[k])
dict(output)

{'x': [300, 300], 'y': ['Red', 'Red'], 'z': [600, 600]}

convert a list of dictionaries into a list of values corresponding to the specified key.
Sample Output:
Original list of dictionaries:
[{'name': 'Theodore', 'age': 18}, {'name': 'Mathew', 'age': 22}, {'name': 'Roxanne', 'age': 20}, {'name': 'David', 'age': 18}]
Convert a list of dictionaries into a list of values corresponding to the specified key:
[18, 22, 20, 18]

In [ ]:
ld =  [{'name': 'Theodore', 'age': 16},
       {'name': 'Mathew', 'age': 22},
       {'name': 'Roxanne', 'age': 80},
       {'name': 'David', 'age': 18}]
# test_key = 'name'
# a = 'age'
# l = []
# for d in ld:
#     if test_key in d.keys():
#       if d[a] > 60:
#         b ='senior'
#       elif d[a] < 18:
#         b = 'minor'
#       else:
#         b = 'adult'
#       l.append(d[test_key]+ ':' + b)

ld[0].get('salary', 100)

# age > 60 -> name : senior
# age < 18 -> name : minor
# else name -> adult
# l

# [d[test_key] + ':' + 'senior' if d[a] > 60 else d[test_key] + ':' + 'minor' if d[a] < 18 else d[test_key] + ':' + 'adult' for d in ld]

100

find all keys in a dictionary that have the given value.
Sample Output:
Original dictionary elements:
{'Theodore': 19, 'Roxanne': 20, 'Mathew': 21, 'Betty': 20}
Find all keys in the said dictionary that have the specified value:
['Roxanne', 'Betty']

In [ ]:
d = {'Theodore': 19, 'Roxanne': 20, 'Mathew': 21, 'Betty': 20}
v_list = ['Roxanne', 'Betty']
val = 20

v_output =[d.get(v) for v in v_list]
val_output = [k for k,v in d.items() if v == val]

print(v_output)
print(val_output)

[20, 20]
['Roxanne', 'Betty']

 Given a dictionary consisting of many roots as well as a sentence, write a function “replace words” to stem all the words in the sentence with the root forming it.

In [ ]:
roots = ["cat", "bat", "rat"]
sentence = "the cattle was rattled by the battery"

#output: "the cat was rat by the bat"
words = sentence.split()
final = []
for word in words:
        for root in roots:
            if word.startswith(root):
                final.append(root)
                break
        else:
          final.append(word)

" ".join(final)

'the cat was rat by the bat'

Given a dictionary, print the key for the nth highest value present in the dictionary. If there is more than one record present for the nth highest value, sort the key and print the first one (alphabetically). N can be higher than the number of elements in the dictionary.

In [9]:
data = {"a" : 210, "c": 230, "g": 110, "b": 86, "d": 230}
def n_max(n,dict1):
  output = sorted(dict1.items(), key=lambda x:x[1])[n]
  print(output)
n_max(3,data)

('c', 230)