<a href="https://colab.research.google.com/github/decisionenabler-sk/python_de_practice_it/blob/main/Python_Interview_practice_it.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Find the most common 3 products purchased

In [ ]:
from collections import Counter
products_purchased = ["DES005",
            "BEV003",
            "DES004",
            "DES001",
            "DES002",
            "DES003",
            "DES002",
            "DES002",
            "STA004",
            "SAL004",
            "ENT005",
            "BEV003",
            "SAL002",
            "ENT005",
            "SAL004",
            "ENT004",
            "ENT004",
            "DES004",
            "BEV001",
            "STA001",
            "STA003",
            "BEV002",
            "STA003",
            "DES005",
            "BEV002",
            "ENT004",
            "ENT001",
            "DES005",
            "ENT004",
            "STA005",
            "ENT005",
            "DES002",
            "ENT001",
            "SAL001",
            "BEV001",
            "DES002",
            "BEV001",
            "DES004",
            "ENT004",
            "DES001",
            "STA005",
            "DES004",
            "ENT002",
            "DES001",
            "ENT002",
            "ENT003",
            "BEV001",
            "DES004",
            "STA005",
            "STA003",
            "SAL002",
            "ENT001",
            "SAL004",
            "STA005",
            "ENT002",
            "DES004",
            "DES004",
            "SAL001",
            "BEV003",
            "DES001"]
count = Counter(products_purchased)
print(count.most_common(3))

[('DES004', 7), ('DES002', 5), ('ENT004', 5)]

sell 5 starters, 3 salads, and 3 entrees
make 9 more starters and 1 more entree

In [ ]:
from collections import Counter
inventory = Counter(STA001=10, SAL002=20, ENT004=13)
#sell
sales_this_week = Counter(STA001=5, SAL002=3,ENT004=3)
inventory = inventory - sales_this_week
print(inventory)
#make
inventory_in = dict()
inventory_in = {"STA001":9, "SAL002":1}
print(inventory_in)
inventory = inventory.update(inventory_in)
print(inventory)

Counter({'SAL002': 17, 'ENT004': 10, 'STA001': 5})
{'STA001': 9, 'SAL002': 1}
None

Keep track of the last 5 foods you ordered

In [ ]:
from collections import deque
foods = deque(maxlen=5)
foods.append("STA001")
print(foods)
ordered_foods = ["DES003", "STA002", "ENT004", "ENT001"]
foods.extend(ordered_foods)
print(foods)
foods.appendleft("DES005")
print(foods)

deque(['STA001'], maxlen=5)
deque(['STA001', 'DES003', 'STA002', 'ENT004', 'ENT001'], maxlen=5)
deque(['DES005', 'STA001', 'DES003', 'STA002', 'ENT004'], maxlen=5)

Palndrone Checker

In [ ]:
from collections import deque
# word = "HANNAH"
word = "SURBHI"
d = deque(word)
while len(d) > 1:
  if d.pop() != d.popleft():
      output = False
  else:
     output = True

print(output)

False

Given a dictionary and dictionary list, update the dictionary with dictionary list values.

In [ ]:
dict_list = [{"for":3,"all":7}, {"and": 1, "CS":9}]
test_dict = {"Gfg":2, "is":1,"Best":3}
for item in dict_list:
  test_dict.update(item)
print(dict_list)
print(test_dict)

[{'for': 3, 'all': 7}, {'and': 1, 'CS': 9}]
{'Gfg': 2, 'is': 1, 'Best': 3, 'for': 3, 'all': 7, 'and': 1, 'CS': 9}

Reverse Dictionary Keys Order

In [ ]:
from collections import OrderedDict
test_dict = {"Gfg":2, "is":1,"Best":3}
output = OrderedDict(reversed(list(test_dict.items())))
print(output)

OrderedDict([('Best', 3), ('is', 1), ('Gfg', 2)])

Replace dictionary value from other dictionary

In [ ]:
test_dict = {"Gfg" : 5, "is" : 8, "Best" : 10, "for" : 8, "Geeks" : 9}
print(test_dict)
updict = {"Gfg"  : 10, "Best" : 17}
for item in test_dict:
  if item in updict:
    test_dict[item] = updict[item]
print(test_dict)

{'Gfg': 5, 'is': 8, 'Best': 10, 'for': 8, 'Geeks': 9}
{'Gfg': 10, 'is': 8, 'Best': 17, 'for': 8, 'Geeks': 9}

Combine 2 dictionaries having key of first dictionary and value of second dictionary

In [ ]:
test_dict1 = {"Gfg" : 20, "is" : 36, "best" : 100}
test_dict2 = {"Gfg2" : 26, "is2" : 20, "best2" : 70}
keys1 = list(test_dict1.keys())
values2 = list(test_dict2.values())
output=dict()
for i in range(len(keys1)):
     output[keys1[i]] = values2[i]
print(output)

{'Gfg': 26, 'is': 20, 'best': 70}

Count the frequency of each word in the paragraph

In [ ]:
import string
from collections import Counter
paragraph = """Nadia's Garden Restaurant is the creation of husband and wife team Nadia and Timothy Arbore.
    Their American-infused, Italian-based, organically created, cuisine was inspired by Nadia's papa, an immigrant from Italy,
    who shared his love of cooking with Nadia as a young girl. His focus on using fresh ingredients and family style dining were
    the inspiration for Nadia's Garden Restaurant. Located in the heart of Main Streets Historic District, they are proud to be a
    part of a rich community. In 2011, the duo remodeled the restaurant and updated their menu to include newer and more diverse entrées
     that could be made from local organic suppliers. Preservation of the building's original layout has allowed them to create smaller,
     more intimate, dining spaces. Nadia and Timothy are committed to sharing their family history of cuisine, along with their new inspirations,
      with their customers. Their passion for community, entertainment, and hospitality are found in every aspect of Nadia's Garden Restaurant."""
# print(paragraph)
paragraph = paragraph.lower()
paragraph = paragraph.translate(str.maketrans('', '', string.punctuation))
wordlist = paragraph.split()
count = Counter(wordlist)
# print(count.get("restaurant"))
print(count)

[('of', 7), ('and', 7), ('the', 6), ('their', 6)]

Remove duplicate values across Dictionary Values *(in progress)*

In [ ]:
from collections import Counter
test_dict = {'Manjeet': [1, 4, 5, 6],
             'Akash': [1, 8, 9],
             'Nikhil': [10, 22, 4],
             'Akshat': [5, 11, 22]}
count = Counter()
for i in test_dict.values():
  count.update(i)

Given an integer array nums, return true if any value appears at least twice in the array, and return false if every element is distinct

In [ ]:
nums = [1,2,3,4]
unique = set()
for num in nums:
    unique.add(num)
print(len(unique))
print(len(nums))
if len(unique)<len(nums):
  print(True)
else:
  print(False)

4
4
False

refactor the above code using list comprehension

In [ ]:
nums = [1,2,3,1]
unique = set(num for num in nums)
print(True if len(unique) < len(nums) else False)

True

Write a Python program to sum and multiply all the items in a dictionary.

In [ ]:
my_dict = {'data1':100,'data2':-54,'data3':247}
print(sum(my_dict.values()))
my_dict2 = {'data1':10,'data2':20,'data3':5}
multiply= 1
for k in my_dict2:
  multiply=multiply*my_dict2[k]
print(multiply)

293
1000

remove a key from a dictionary

In [ ]:
d={"t1":250, "t2":248, "t3":243, "t4":251}
d.pop("t1")
print(d)
myDict = {'a':1,'b':2,'c':3,'d':4}
print(myDict)
if 'a' in myDict:
    del myDict['a']
print(myDict)

{'t2': 248, 't3': 243, 't4': 251}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'b': 2, 'c': 3, 'd': 4}

map two lists into a dictionary

In [ ]:
l1 = ["a", "b", "c"]
l2 = [1,2,3]
d=dict(zip(l1,l2))
print(d)

{'a': 1, 'b': 2, 'c': 3}

sort a given dictionary by key and then by value, and find min and max value

In [ ]:
from collections import OrderedDict
d={"t2":250, "t1":248, "t3":243, "t4":251}
keys=sorted(d.keys())
# print(keys)
# sort_keys_d = {k:d[k] for k in keys}
sort_keys_d = {k:d[k] for k in sorted(d.keys())}
sort_values_d = dict(sorted(d.items(), key=lambda x:x[1]))
print(sort_keys_d)
print(sort_values_d)

key_max = max(d.keys(), key=(lambda k: d[k]))
key_min = min(d.keys(), key=(lambda k: d[k]))

print('Maximum Value: ',d[key_max])
print('Minimum Value: ',d[key_min])

{'t1': 248, 't2': 250, 't3': 243, 't4': 251}
{'t3': 243, 't1': 248, 't2': 250, 't4': 251}
Maximum Value:  251
Minimum Value:  243

swap values from two dictionaries

In [ ]:
d1 = {"a":100, "b":200, "c":300, "d":400}
d2 = {"aa":1000, "bb":2000, "cc":3000, "dd":4000}
for k1,v1 in d1.items():
  for k2,v2 in d2.items():
    d1[k1], d2[k2] = d2[k2], d1[k1]
print(d1)
print(d2)

{'a': 4000, 'b': 3000, 'c': 2000, 'd': 1000}
{'aa': 400, 'bb': 300, 'cc': 200, 'dd': 100}